
h1 {
    font-style: italic;
    color: rgb(255, 255, 255);;
}

body{
  background: url("/img/fondo1.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  background-color: rgb(31, 79, 61);
  align-items: center;
  padding: 20px;
}

.logo{
  display: flex;
  align-items: center;
  size: 100px;
}

.logo img{
  height: 100px;
  margin-right: 5px;
}
label{
  color: rgb(0, 0, 0);
  text-align: left;
}
legend{
  color: rgb(0, 0, 0);
}
.radio {
  text-align: justify;
}
.card {
  width: 600px;
  border: 2px solid rgba(2, 255, 2, 0.799);
  padding: 1px;
  margin: 1px;
  height: 730px;
  opacity: 80%;
  display: flex;
}